USE [master]
GO
/****** Object:  Database [doanh thu]    Script Date: 12/4/2017 9:14:28 PM ******/
CREATE DATABASE [doanh thu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'doanh thu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\doanh thu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'doanh thu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\doanh thu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [doanh thu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [doanh thu]
GO
USE [doanh thu]
GO
/****** Object:  Table [dbo].[doanhthu]    Script Date: 12/4/2017 9:14:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doanhthu](
	[Tên chi nhánh] [nvarchar](50) NULL,
	[Số lượng đơn hàng] [nvarchar](50) NULL,
	[Ngày/Tháng/Năm] [datetime] NULL
) ON [PRIMARY]

GO
USE [master]
GO
