USE [DanhSachMonAn]
GO
/****** Object:  Table [dbo].[DanhSachMonAn]    Script Date: 11/5/2017 7:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachMonAn](
	[Tên] [nvarchar](50) NULL,
	[Giá] [int] NULL
) ON [PRIMARY]

GO
