USE [DanhMucMonAn]
GO
/****** Object:  Table [dbo].[BangDoanhMuc]    Script Date: 11/5/2017 7:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangDoanhMuc](
	[Tên] [nchar](10) NULL,
	[Giá] [int] NULL
) ON [PRIMARY]

GO
