USE [Login]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 11/12/2017 6:10:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[TaiKhoan] [nvarchar](max) NULL,
	[MatKhau] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
